{% extends 'base.html' %}
{% block title %}Main Page{% endblock %}
{% block content %}

    <h2>Welcome</h2>

    <p>
        This is a personal website for an artist selling their art, pins,
        keychains and prints.
    <br>
        It was a page for checking the art commissions that the artist was 
        to complete. The artist can also delete the commission that they
        have already completed. 
    <br>
        As well as a page where the artist can see how many of each item they
        have in stock. 
        
    </p>


{% endblock %}